// Firestore rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /images/{picture} {
    	allow read;
      allow create: if request.auth != null;
    	allow delete: if resource.data.userId == request.auth.uid;
      allow update: if resource.data.userId == request.auth.uid;
    }

    match /captions/{picture} {
    	allow read;
      allow create: if request.auth != null;
    	allow delete: if resource.data.userId == request.auth.uid;
      allow update: if resource.data.userId == request.auth.uid;
    }

   
    // Users
    match /users/{user} {
    	allow read;
    	allow create;
    	allow update: if request.auth.uid == user
    }
  }
}